@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&display=swap');


* {
	margin: 0px;
	padding: 0px;
}
body {	
	background-color: #bad5e0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:'Montserrat', sans-serif;
}

#container {
    width: 1000px;
    background-color: #ffffff;
    margin:auto;
    text-align: center;
}

header {
	height: 80px;
	width: 1000px;
	padding-top: 50px;
	background-color: #397397;
	text-align: center;
}

header h1 {
	font-style: normal; 
	font-size: 38px;
	font-weight: 100px;
	color: #ffffff;
}

main {
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 100px;
	padding-left: 0px;
	background-color: #ffffff;
}

main #col_text {
	margin-left: 2%;
	margin-right: 2%;
	width: 100%;
	padding-bottom: 50px;
	color: #000000;	
}
 main #col_text h1 {
	font-style: normal; 
	font-size: 30px;
	font-weight: 80px;
	 line-height: 100px;
	 color: #000000;	
}
main #col_text h2 {
	font-style: normal; 
	font-size: 18px;
	font-weight: 50px;
	line-height: 25px;
	color: #000000;	
}


p {	font-style: normal; 
	font-weight: 100px;
	font-size: 16px;
	line-height: 50px;
	margin: 0 0 0 0;
	
}
a {
	text-decoration: none;
	padding: 5px;
	padding-top: 5px;
	background-color:#bad5e0;
	border-color:#397397;
	border: 1px solid;
	font-size: 18px;
	color: #000000;	
	font-weight: 500;
	letter-spacing: 3px;
}

a:hover {
	text-decoration: none;
	padding: 5px;
	padding-top: 5px;
	background-color: #397397;
	border: 3px solid;
	border-color: #397397;
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: 3px;
}